*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer{
      width: 100%;
      height: 100vh;
      background-image: url("./bg.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      display: flex;
      justify-content: center;
}

.sectionWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.formWrapper{
    width: 40%;
    height: 40%;
    background-color: lavender;
}

.div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.header{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 10px;
}

.input{
    height: 60px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.Btn{
    width: 100px;
    height: 30px;
    font-size: 20px;
    font-family: sans-serif;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}


.Btn:hover{
  background-color: blue;
  transform: scale(1.1);
}

.btnWrapper{
    display: flex;
    justify-content: center;
}

.text{
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
}